---
title: Welcome
---

<div class="welcome">
	<ul class="index">
		<li>
			<%= link_to 'HTML/CSS', 'html.html' %>
		</li>
		<li>
			<%= link_to 'Javascript/Coffeescript', 'js.html' %>
		</li>
		<li>
			<%= link_to 'Ruby', 'ruby.html' %>
		</li>
	</ul>
</div>