---
title: Javascript/Coffeescript
---

<h2>Javascript/Coffeescript (v1)</h2>
<article>
	<h3>Structure</h3>
	<ul>
		<li>Use Coffeescript!  Plz</li>
	</ul>
	<h3>Indentation</h3>
	<ul>
		<li>Single hard tab per indentation level</li>
		<li>Indentation matters in Coffeescript, so don't fuck it up</li>
		<li>Don't put parentheses around a function call where the last argument is a callback function</li>
		<li>For functions, put a space between the argument list and the arrow:
			<% color_code :coffeescript do %>
$('.projects a').click (e) ->
	e.preventDefault()
			<% end %>
	</ul>
</article>